/Employee.Application.BE/bin
/Employee.Application.BE/obj
/Employee.Application.BE/.vs
/Employee.Application.BE/.idea
/Employee.Application.Portal/package-lock.json
/Employee.Application.Portal/.vscode
/Employee.Application.BE/UploadFiles/
/.vs/*
/Employee.Application.BE/Employee.Application.BE.csproj.user
/Employee.Application.BE/appsettings.json
/Employee.Application.Scan/Employee.Application.Scan/bin
/Employee.Application.Scan/Employee.Application.Scan/obj
/Employee.Application.BE/appsettings.json
/Employee.Application.BE/serilogs/*
/Employee.Application.Scan/Employee.Application.Scan/appsettings.json
/Employee.Application.Scan/Employee.Application.Scan/appsettings.json
