<div class="p-5 flex flex-col gap-5">
  <!-- DONORS -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-1">
      <h1 class="text-3xl font-normal">Donors</h1>
      <button
        class="bg-green-500 rounded-full py-1 px-3 text-center text-md text-white font-semibold hover:cursor-pointer hover:bg-green-600"
      >
        Click to add
      </button>
    </div>
    <div class="flex gap-4">
      <div class="w-fit p-2 border-2 border-gray-300">
        <p class="text-center italic">User</p>
        <p>Faris Rizvanovic</p>
      </div>

      <div class="w-fit p-2 border-2 border-gray-300">
        <p class="text-center italic">User</p>
        <p>Faris Rizvanovic</p>
      </div>
    </div>
  </div>

  <!-- DONATIONS -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-1">
      <h1 class="text-3xl font-normal">Donations</h1>
      <button
        class="bg-green-500 rounded-full py-1 px-3 text-center text-md text-white font-semibold hover:cursor-pointer hover:bg-green-600"
      >
        Click to add
      </button>
    </div>
    <div class="flex gap-4">
      <div class="w-fit p-2 border-2 border-gray-300">
        <p class="text-center italic">Donation</p>
        <p>100$</p>
      </div>

      <div class="w-fit p-2 border-2 border-gray-300">
        <p class="text-center italic">Donation</p>
        <p>5$</p>
      </div>
    </div>
  </div>

  <!-- SCHEDULES -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-1">
      <h1 class="text-3xl font-normal">Schedules</h1>
      <button
        class="bg-green-500 rounded-full py-1 px-3 text-center text-md text-white font-semibold hover:cursor-pointer hover:bg-green-600"
      >
        Click to add
      </button>
    </div>
    <div class="flex gap-4">
      <div
        class="w-fit p-2 border-2 border-gray-300 flex flex-col items-center justify-center"
      >
        <p class="italic">Schedule</p>
        <p>10$</p>
        <p><span class="italic">From:</span> 15.05.2024</p>
        <p><span class="italic">To:</span> 15.06.2024</p>
      </div>
    </div>
  </div>
  <!-- REPORTS -->
  <div class="flex flex-col gap-4">
    <h1 class="text-3xl font-normal">Reports</h1>
    <div class="flex gap-1">
      <h1>Donations Total:</h1>
      <p>0$</p>
    </div>
    <div class="flex gap-1">
      <h1>Donations Total For Scheduled Donations:</h1>
      <p>0</p>
    </div>
  </div>
</div>
