<div class="p-5 flex flex-col gap-5">
  <!-- DONORS -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-1">
      <h1 class="text-3xl font-normal">Donors</h1>
      <button
        (click)="openAddDonorModal()"
        class="bg-green-500 rounded-full py-1 px-3 text-center text-md text-white font-semibold cursor-pointer hover:bg-green-600"
      >
        Click to add
      </button>
    </div>
    <div class="flex gap-4">
      <app-donor-card
        [donor]="donor"
        [selectedDonorId]="selectedDonorId"
        (selectedDonor)="selectDonor($event)"
        (deletedDonor)="deleteDonor($event)"
        *ngFor="let donor of donors"
      ></app-donor-card>
    </div>
  </div>

  <!-- DONATIONS -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-1">
      <h1 class="text-3xl font-normal">Donations</h1>
      <button
        (click)="openAddDonationModal()"
        class="bg-green-500 rounded-full py-1 px-3 text-center text-md text-white font-semibold cursor-pointer hover:bg-green-600"
      >
        Click to add
      </button>
    </div>
    <div class="flex gap-4">
      <app-donation-card
        [donation]="donation"
        (deletedDonation)="deleteDonation($event)"
        *ngFor="let donation of donations"
      ></app-donation-card>
    </div>
  </div>

  <!-- SCHEDULES -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-1">
      <h1 class="text-3xl font-normal">Schedules</h1>
      <button
        (click)="openAddScheduleModal()"
        class="bg-green-500 rounded-full py-1 px-3 text-center text-md text-white font-semibold cursor-pointer hover:bg-green-600"
      >
        Click to add
      </button>
    </div>
    <div class="flex gap-4">
      <app-schedule-card
        [schedule]="schedule"
        [selectedScheduleId]="selectedScheduleId"
        (selectedSchedule)="selectSchedule($event)"
        (deletedSchedule)="deleteSchedule($event)"
        *ngFor="let schedule of schedules"
      ></app-schedule-card>
    </div>
  </div>
  <!-- REPORTS -->
  <div class="flex flex-col gap-4">
    <h1 class="text-3xl font-normal">Reports</h1>
    <div class="flex gap-1">
      <h1>Donations Total:</h1>
      <p>{{ donationsTotal }}$</p>
    </div>
    <div class="flex gap-1">
      <h1>Donations Total For Schedules:</h1>
      <p>{{ 0 }}</p>
    </div>
    <div class="flex gap-1">
      <h1>Donations Total For Selected Schedule:</h1>
      <p>{{ donationsTotalForSchedule }}$</p>
    </div>
  </div>

  <div>
    <app-add-donor-modal
      *ngIf="addDonorModalVisible"
      (modalClosed)="closeAddDonorModal()"
    ></app-add-donor-modal>
    <app-add-donation-modal
      *ngIf="addDonationModalVisible"
      (modalClosed)="closeAddDonationModal()"
    ></app-add-donation-modal>
    <app-add-schedule-modal
      *ngIf="addScheduleModalVisible"
      (modalClosed)="closeAddScheduleModal()"
    ></app-add-schedule-modal>
  </div>
</div>
