<div
  class="w-fit relative p-2 border-2 flex items-center justify-center flex-col border-gray-300"
>
  <p class="italic">Donation</p>
  <p>{{ donation.amount }}$</p>

  <div class="absolute -right-3 -top-3 flex gap-1">
    <span
      (click)="editDonation(donation.id!)"
      class="bg-green-500 text-white rounded-full px-1.5 cursor-pointer hover:bg-green-600 z-10"
      >E</span
    >
    <span
      (click)="deleteDonation(donation.id!)"
      class="\ bg-red-500 text-white rounded-full px-1.5 cursor-pointer hover:bg-red-600 z-10"
      >X</span
    >
  </div>
</div>
